<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leafmi.mi.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LeafmiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.other.OtherActivity" />
        <activity android:name=".activity.other.CurveChartActivity" />
        <activity android:name=".activity.view.ViewActivity" />
        <activity android:name=".activity.network.NetWorkActivity" />
        <activity android:name=".activity.network.OkHttpActivity" />
        <activity android:name=".activity.network.RetorfitActivity" />
        <activity android:name=".activity.other.RxJavaActivity" />
        <activity android:name=".activity.animation.AnimationActivity" />
        <activity android:name=".activity.animation.DownLoadViewActivity" />
        <activity android:name=".activity.supportlibrary.SupportLibraryActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.supportlibrary.CoordinatorLayoutActivity" />
        <activity android:name=".activity.view.RoundViewActivity"></activity>
    </application>

</manifest>